body,
textarea {
  font-family: "Arial", Helvetica, Arial;
  /* color: white; */
  background-color: rgb(13, 42, 80);
  color: white;
}
:root {
  --h1font: 2em;
  --h3font: 1.2em;
  --font: 1em;
  --acctProPic: 7em;
  --acctUserFontSize: 2em;
  --acctInputContainerAdjust: 0.43em;
  --pAdjust: 3.15em;
}
.App {
  position: relative;
}

.errors {
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

button {
  color: rgb(13, 42, 80);
  background: white;
  cursor: pointer;
  font-size: var(--font);
  -webkit-appearance: none;
  border-style: outset;
  border-color: rgb(13, 42, 80);
}
p,
span,
label {
  font-size: var(--font);
}
h1 {
  font-size: var(--h1font);
}
h3 {
  font-size: var(--h3font);
}

.header {
  position: absolute;
  width: 16.5%;
  /* height: 100vh; */
}

.header_links {
  margin-bottom: -5%;
  margin-left: 6%;
}

.nav_icon {
  width: 10%;
  margin-right: 10%;
}
.profilePicture {
  width: 3em;
  border-radius: 30px;
}
.round {
  border-radius: 100px;
}
.lock {
  font-size: 4em;
  width: fit-content;
  margin: 0;
  margin-bottom: 8%;
  transform: rotateY(0deg);
  animation: rotateY 2s infinite;
}
a {
  text-decoration: none;
  color: white;
  font-size: var(--font);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
  color: white;
}

.feed {
  width: 66%;
  height: 100vh;
  overflow: auto;
  margin: auto;
  border-left: solid;
  border-right: solid;
  margin-top: -1%;
}
.post {
  position: relative;
  display: block;
  margin: 1em auto;
  width: 66%;
  border: 5px solid white;
  padding: 0.5em;
  text-align: center;
  background: rgb(43, 81, 131);
}
.userInfoContainer {
  text-align: left;
  display: flex;
  align-items: center;
}
.rec-carousel-item-hidden {
  height: 0;
}
.rec.rec-arrow {
  display: none;
}
.rec.rec-dot_active {
  background-color: white;
  margin-top: 5;
  margin-bottom: 0;
  box-shadow: 0 0 1px 3px;
}
.prevbtn {
  float: left;
  background-color: transparent;
}
.nextbtn {
  float: right;
  background-color: transparent;
}
.reactions-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reaction-icon {
  width: 1.5em;
}
.delete-btn {
  color: white;
  background: red;
}
.grade-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.game {
  width: 66%;
  margin: 2em auto 2em auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid white;
  background: rgb(43, 81, 131);
  padding: 1em;
}
.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  min-width: 30%;
}
.team {
  text-align: center;
}
.gameTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 15%;
  line-height: 2em;
  text-align: center;
}
.lines-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line-header {
  margin: 0;
}
.line-btn {
  height: 4em;
  width: 100%;
  margin: 0.5em auto;
}

.newPost {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 2;
  background-color: rgba(13, 42, 80, 0.9);
  width: 66%;
  height: 100vh;
}
.newPostForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 4.2em auto;
  background: rgb(43, 81, 131);
  border: 2px solid white;
  padding: 2em;
  position: relative;
}

.edit-acct-btn {
  margin: 1em 0.5em;
  float: right;
}
.acct_profilePicture {
  width: var(--acctProPic);
  border-radius: 100px;
  display: inline-block;
}
.acctUsername {
  margin-left: 0.12em;
  font-size: var(--acctUserFontSize);
}
.acctUsernameInput {
  font-size: var(--acctUserFontSize);
  font-weight: bold;
  /* position: relative; */
  bottom: 0.5em;
  width: fit-content;
}
.acctInputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  position: relative;
  bottom: var(--acctInputContainerAdjust);
}
.recordP {
  margin-top: var(--pAdjust);
}
.backP {
  margin-bottom: var(--pAdjust);
}

.leaderboard {
  width: 50%;
  margin: auto;
}
.leaderboardSelect {
  margin-left: 41.5%;
  text-align: center;
}
.leadersHeaders {
  width: 60%;
  margin: auto;
  margin-left: 24%;
}
.listItem {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  text-align: left;
  top: 1em;
  right: 0;
  width: 16.5%;
}
@media screen and (max-width: 1050px) {
  :root {
    --acctUserFontSize: 1.6em;
    --acctInputContainerAdjust: 1.1em;
  }
}
@media screen and (max-width: 933px) {
  :root {
    --acctUserFontSize: 1.4em;
    --acctInputContainerAdjust: 1.5em;
  }
}
@media screen and (max-width: 860px) /* and (orientation: portrait) */ {
  .title {
    display: none;
  }
  :root {
    --font: 0.8em;
    --h3font: 1em;
    --h1font: 1.8em;
    --acctProPic: 5em;
    --acctInputContainerAdjust: 0.55em;
    --pAdjust: 3.4em;
  }
  .lock {
    font-size: 3em;
  }
  .header {
    position: fixed;
    left: -0.5em;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: white;
    border-top: 1px solid gray;
    padding: 0.5em;
    z-index: 3;
  }

  .lock {
    margin: auto;
  }
  .home-icon-A {
    margin: auto;
  }
  .home-icon {
    width: 4.5em;
  }
  /* .header > .profilePicture {
    margin: auto;
  } */
  .makeapick {
    width: 3em;
    text-align: center;
    margin: auto;
  }
  .post {
    width: 90%;
  }
  .game {
    width: 90%;
  }
  .line-btn {
    width: fit-content;
    margin: 0.25em auto;
  }
  .newPost {
    width: 100%;
  }
  .newPostForm {
    width: 70%;
  }
  .feed {
    height: 88vh;
    width: 100%;
    border-left: none;
    border-right: none;
  }
}
@media screen and (max-width: 590px) {
  :root {
    --acctUserFontSize: 1.2em;
    --acctInputContainerAdjust: 0.88em;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --font: 0.6em;
    --h3font: 0.8em;
    --h1font: 1.6em;
    --acctProPic: 4em;
    --acctUserFontSize: 1em;
    --acctInputContainerAdjust: 0.7em;
    --pAdjust: 3.8em;
  }
}
@media screen and (max-width: 1090px) {
  .title {
    font-size: 1em;
  }
}
@media screen and (max-width: 1090px) {
  .title {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 400px) {
  .line-header {
    font-size: 1.5vw;
  }
  .feed {
    height: 78vh;
  }
  :root {
    --acctUserFontSize: 0.8em;
    --acctInputContainerAdjust: 1.07em;
  }
}
@media screen and (max-width: 363px) {
  :root {
    --acctProPic: 3em;
    --font: 0.5em;
    --acctUserFontSize: 0.69em;
    --acctInputContainerAdjust: 0.7em;
    --pAdjust: 4.3em;
  }
}

@-moz-keyframes rotateY {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotateY {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
